{% extends 'base.html' %}
{% block body %}

<div class="container mt-5">
    {% if  articles|length > 0 %}

    <h1>{{ title }}</h1>
    {% for article in articles %}
    <div class="alert alert-warning">
        <a href="{{ url_for('get_article', id=article.id)}}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ article.title }}</h5>
                <small>{{ article.date.strftime('%Y-%m-%d') }}</small>
            </div>
            <p class="mb-1">{{ article.intro }}</p>
            <button class="btn btn-warning">Read full version</button>
        </a>
    </div>
    {% endfor %}

    {% else %}
    <h3>You haven`t added any articles yet. <a class="me-3 py-2 text-decoration-none"
                                              style="color:#B8860B;" href="/add-article">Correct it!</a></h3>
    {% endif %}

</div>

{% endblock %}